*{
    margin: 0;
    padding: 0;
}
#title{
    width: 100%;
    text-align: var(--text-alignPrimes)
}
.numbers{
    width: var(--width-divPrimes);
    margin: var(--margin-primes);
    text-align: center
}

